.button {
	@include flex (center, center);

	font-family: "TTNorms";
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
	color: $textButtonColor;

	background: linear-gradient(180deg, #79DDCF 0%, #05A696 100%);
	border-radius: 15px;
}

.platform {
	@include flex (center, center);
	padding-left: 20px;
	padding-right: 15px;

	font-family: "Roboto";
	font-weight: 300;
	font-size: 14px;
	line-height: 101.19%;


	color: #85A5AC;

	width: 274px;
	height: 54px;

	background-color: #082228;
	border-radius: 15px;

	margin-bottom: 30px;
	position: relative;

	&::after {
		@include pseudo;
		@include background (url("../img/invest/rub.svg"));
		@include pos (absolute, $bottom:50%, $left: 16px);
		@include wh(28px);
		transform: translateY(50%)
	}
}

// .button--term
.button--term {
	&::after {
		@include background (url("../img/advantages/term.svg"));
		@include wh(27px);
	}
}

// .button--time
.button--time {
	&::after {
		@include background (url("../img/advantages/time.svg"));
		@include wh(40px);
	}
}

// .button--calendar
.button--calendar {
	&::after {
		@include background (url("../img/advantages/calendar.svg"));
		@include wh(34px);
	}
}

//button--money
.button--money {
	&::after {
		@include background (url("../img/advantages/money-advantages.svg"));
		@include wh(35px);
	}
}

// .button--paste
.button--paste {
	&::after {
		@include background (url("../img/advantages/paste.svg"));
		@include wh(34px, 37px);
	}
}

// .button--map
.button--map {
	&::after {
		@include background (url("../img/advantages/map.svg"));
		@include wh(22px, 37px);
	}
}

	// .button--online
	.button--online {
		&::after {
			@include background (url("../img/advantages/online.svg"));
			@include wh(38px);
		}
	}

	
.button--minutes {
	&::after {
		@include background (url("../img/advantages/minutes.svg"));
		@include wh(36px);
	}
}

.button--key {
	&::after {
		@include background (url("../img/advantages/key.svg"));
		@include wh(43px);
	}
}

.button--money-security {
	&::after {
		@include background (url("../img/advantages/money-security.svg"));
		@include wh(35px);
	}
}

.button--coins {
	&::after {
		@include background (url("../img/advantages/coins.svg"));
		@include wh(30px);
	}
}