.button{
	@include flex (center, center);

	font-family: "TTNorms";
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
	color: $textButtonColor;

	background: linear-gradient(180deg, #79DDCF 0%, #05A696 100%);
	border-radius: 15px;


}