.input {
	width: 325px;
	height: 70px;
	padding: 20px;

	box-shadow: inset 0px 0px 11px rgba(0, 0, 0, 0.25);
	border-radius: 15px;


	font-family: "TTNorms";

	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	color: $textPlaceholderColor;
}

.checkbox {
	width: 25px;
	height: 25px;
	background-color: #55D6C6;

	&:checked {
		background-color: #55D6C6;
	}
}

.label {
	font-family: "TTNorms";

	font-weight: 400;
	font-size: 18px;
	line-height: 18px;

	color: $textMainColor;
}