.articles {
	
	padding: 44px 0 215px;

	// .articles__wrapper
	&__wrapper {
		@include flex (space-between, center, wrap, column);
	}

	// .articles__title
	&__title {
		margin-bottom: 50px;
	}

	// .articles__grid
	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 40px;
		row-gap: 105px;
	}

	// .articles__inner
	&__inner {
		@include flex ($flex-direction: column);
	}

	// .articles__box
	&__box {
		margin-bottom: 34px;
	}

	// .articles__img
	&__img {}

	// .articles__subtitle
	&__subtitle {
		
		font-weight: 700;
		font-size: 30px;
		line-height: 106.19%;

		color: $textMainColor;

		margin-bottom: 15px;


	}

	// .articles__text
	&__text {

		
		font-size: 15px;
		line-height: 114.19%;
		letter-spacing: 0.055em;

		color: #C0C0C0;
	}
}