.invest {

	

	// .invest__wrapper
	&__wrapper {
		@include flex ($flex-direction: column);
		width: 65%;
	}

	// .invest__platform
	&__platform {}

	// .invest__title
	&__title {

		font-family: 'Roboto';

		font-size: 45px;
		line-height: 98.19%;
		text-align: left;

		color: $textMainColor;

		margin-bottom: 30px;

	}

	// .invest__box
	&__box {
		@include flex ();
		gap: 20px;
		margin-bottom: 100px;
	}

	// .invest__wrap
	&__wrap {
		@include flex (center, center, $flex-direction: column);
		width: 182px;
		height: 104px;

		background: #FFFFFF;
		border-radius: 5px;

	}

	// .invest__text
	&__text {

		font-size: 15px;
		line-height: 120.52%;

		color: #2E2E2E;

		span {
			font-family: "TTNorms";
			font-weight: 800;
			font-size: 35px;
			line-height: 41px;
			text-align: center;

			color: #14B0A0;


		}
	}

	// .invest__btns
	&__btns {
		@include flex ();
		gap: 44px;
	}

	// .invest__btn
	&__btn {
		width: 291px;
		height: 77px;
	}
}