.loan {
	padding-bottom: 70px;

	// .loan__wrapper
	&__wrapper {
		@include flex ($flex-direction: column);
		width: 65%;
	}

	// .loan__platform
	&__platform {}

	// .loan__title
	&__title {

		font-family: Roboto;
		font-size: 45px;
		font-weight: 400;
		line-height: 44px;
		letter-spacing: 0em;
		text-align: left;
		max-width: 700px;
		margin-top: 10px;
		margin-bottom: 75px;

		span {
			font-weight: 700;
		}


	}

	// .loan__btns
	&__btns {
		@include flex ();
		gap: 44px;
	}

	// .loan__btn
	&__btn {
		width: 291px;
		height: 77px;
	}
}