.order {
	padding-bottom: 175px;

	// .order__wrapper
	&__wrapper {
		@include flex ();
		gap: 20px;
	}

	// .order__box-img
	&__box-img {}

	// .order__img
	&__img {}

	// .order__box
	&__box {
		@include flex ($flex-direction: column);
		gap: 40px;
		padding-top: 50px;
	}

	// .order__inner
	&__inner {
		@include flex ($align-items: flex-start, $flex-direction: column);
	}

	// .order__title
	&__title {

		font-size: 50px;
		font-weight: 400;
		line-height: 53px;
		letter-spacing: 0em;



	}

	// .order__subtitle
	&__subtitle {
		max-width: 660px;
	}

	// .order__form
	&__form {}
}