.projects {
padding-top: 54px;
	// .projects__wrapper
	&__wrapper {
		@include flex ($flex-direction: column);
	}

	// .projects__title
	&__title {
		font-size: 50px;
		line-height: 98.19%;

		color: $textMainColor;
		margin-bottom: 45px;
	}

	// .projects__filter
	&__filter {
		margin-bottom: 70px;
	}

	// .projects__grid
	&__grid {}

	// .projects__project
	&__project {}
}