.scheme-contract {
padding-bottom: 196px;
	// .scheme-contract__wrapper
	&__wrapper {
		@include flex ($flex-direction: column);
	}

	// .scheme-contract__title
	&__title {
		font-size: 50px;
		line-height: 106.19%;
		color: $textMainColor;

		margin-bottom: 35px;
	}

	// .scheme-contract__inner
	&__inner {
		
	}

	// .scheme-contract__steps
	&__steps {
		margin-bottom: 62px;
	}

	// .scheme-contract__button
	&__button {
		margin: 0 auto;

		width: 291px;
		height: 77px;

		line-height: 80.02%;
		color: #111111;
	}

	.steps {
		@include flex (space-between, center, $flex-direction: row);
		gap: 0;
		padding: 0 60px;

		// .steps__wrap
		&__wrap {
			@include flex ($flex-direction: column);
		}

		// .steps__number
		&__number {
			font-family: 'TTNorms';
			font-weight: 500;
			font-size: 80px;
			line-height: 94px;
			text-align: center;


			color: $textMainColor;

			margin-right: 0;
		}

		// .steps__description
		&__description {

			font-family: 'TTNorms';
			font-weight: 500;
			font-size: 25px;
			line-height: 94.52%;
			color: #F7F7F7;
			text-align: center;

			max-width: 214px;

			padding-left: 0;
		}
	}
}