.advantage {
  padding: 60px 0;
  
  // .advantage__title
  &__title {
    
    margin-bottom: 50px;
   
  }
  // .advantage__inner
  &__inner {
    @include flex(center, center);
    gap: 58px;
  }
  // .advantage__box
  &__box {
    @include flex(space-between, center, wrap);
    width: 100%;
    column-gap: 45px;
    row-gap: 20px;
    @include media(max, xl) {
      justify-content: center;
    }
  }
  // .advantage__content
  &__content {
    @include flex($align-items: center);
    max-width: 557px;
    @include wh(100%, 78px);
    gap: 18px;
    padding-left: 30px;

    background: radial-gradient(
      184.97% 152.52% at 27.83% 24.1%,
      #7becdd 0%,
      #098a7d 100%
    );

    border-radius: 15px;
  }
  
  // .advantage__text
  &__text {
    font-size: 25px;

    color: #151515;
    text-shadow: none;

    @include media(max, lg) {
      font-size: 18px;
    }
  }
  
}
