.calculator {
  padding: 82px 0 68px;
  // .calculator__wrapper
  &__wrapper {
    @include flex($flex-direction: column);
  }
  // .calculator__title
  &__title {
    margin-bottom: 25px;
  }
  // .calculator__text
  &__text {
    letter-spacing: 0.055em;
    margin-bottom: 43px;
    text-shadow: none;

    
  }
  // .calculator__loan
  &__loan {
  }
  // .calculator__form
  &__form {
  }
}
