.main-develop {
	padding: 95px 0;
  // .main-develop__wrapper
  &__wrapper {
  }
  // .main-develop__link
  &__link {
  }
  // .main-develop__title
  &__title {
	font-family: "TTNorms";
    line-height: 106.19%;
	margin-bottom: 50px;
	span{
		display: unset;
	}
  }
  // .main-develop__subtitle
  &__subtitle {
max-width: 640px;
margin-bottom: 42px;

  }
  // .main-develop__box-btns
  &__box-btns {
  }
  // .main-develop__btn
  &__btn {
  }
}
