.main-loan {
	padding-bottom: 150px;
  // .main-loan__wrapper
  &__wrapper {
  }
  // .main-loan__link
  &__link {
    margin-bottom: 40px;
  }
  // .main-loan__title
  &__title {
    margin-bottom: 75px;
  }
  // .main-loan__box-btns
  &__box-btns {
  }
  // .main-loan__btn
  &__btn {
  }
}
