.main-platforma {
  padding-top: 122px;
  // .main-platforma__wrapper
  &__wrapper {
	margin-bottom: 115px;
  }
  // .main-platforma__link
  &__link {
  }
  // .main-platforma__title
  &__title {
    font-family: "TTNorms";
    font-size: 55px;
    line-height: 85.19%;
    margin-bottom: 56px;
    letter-spacing: -0.2px;
  }
  // .main-platforma__box
  &__box {
    margin-bottom: 74px;
  }
  // .main-platforma__box-content
  &__box-content {
  }
  .box-content {
    
    // .box-content__text
    &__text {
    }
    // .box-content__span
    &__span {
    }
  }
  // .main-platforma__box-btns
  &__box-btns {
  }
  // .main-platforma__btn
  &__btn {
  }
  // .main-platforma__inner
	&__inner {}
	// .main-platforma__box-text
	&__box-text {}
	// .main-platforma__span
	&__span {}
	// .main-platforma__text
	&__text {}
}
.section--bg {
}
.section--bg-comp {
}
.container {
}
.title {
}
.title--big {
}
.title--not-uppercase {
}
.title--left {
}
.box-content {
  // .box-content__text
  &__text {
  }
  // .box-content__span
  &__span {
  }
}
.text {
}
.text--bold {
}
.span {
}
.span--big {
}
.btn {
}
.btn-primary {
}

.main {
  // .main__wrapper
  &__wrapper {
  }
  // .main__link
  &__link {
  }
  // .main__title
  &__title {
  }
  // .main__box
  &__box {
  }
  // .main__box-content
  &__box-content {
  }
  // .main__box-btns
  &__box-btns {
  }
  // .main__btn
  &__btn {
  }
  // .main__inner
  &__inner {
  }
  // .main__span
  &__span {
  }
  // .main__text
  &__text {
  }
}
.main-platforma {
  // .main-platforma__wrapper
  &__wrapper {
  }
  // .main-platforma__link
  &__link {
  }
  // .main-platforma__title
  &__title {
  }
  // .main-platforma__box
  &__box {
  }
  // .main-platforma__box-content
  &__box-content {
  }
  // .main-platforma__box-btns
  &__box-btns {
  }
  // .main-platforma__btn
  &__btn {
  }
}
.section--bg {
}
.section--bg-comp {
}
.container {
}
.title {
}
.title--big {
}
.title--not-uppercase {
}
.title--left {
}
.title--normal {
}
.box-content {
  // .box-content__text
  &__text {
  }
  // .box-content__span
  &__span {
  }
}
.text {
}
.text--bold {
}
.span {
}
.span--big {
}
.btn {
}
.btn-primary {
}

.main {
	// .main__wrapper
	&__wrapper {}
	// .main__link
	&__link {}
	// .main__title
	&__title {}
	// .main__box
	&__box {}
	// .main__box-content
	&__box-content {}
	// .main__box-btns
	&__box-btns {}
	// .main__btn
	&__btn {}
	// .main__inner
	&__inner {}
	// .main__box-text
	&__box-text {}
	// .main__span
	&__span {}
	// .main__text
	&__text {}
}
.main-platforma {
	// .main-platforma__wrapper
	&__wrapper {}
	// .main-platforma__link
	&__link {}
	// .main-platforma__title
	&__title {}
	// .main-platforma__box
	&__box {}
	// .main-platforma__box-content
	&__box-content {}
	// .main-platforma__box-btns
	&__box-btns {}
	// .main-platforma__btn
	&__btn {}
	// .main-platforma__inner
	&__inner {}
	// .main-platforma__box-text
	&__box-text {}
	// .main-platforma__span
	&__span {}
	// .main-platforma__text
	&__text {}
}
.section--bg {
}
.section--bg-comp {
}
.container {
}
.title {
}
.title--big {
}
.title--not-uppercase {
}
.title--left {
}
.title--normal {
}
.box-content {
	// .box-content__text
	&__text {}
	// .box-content__span
	&__span {}
}
.text {
}
.text--bold {
}
.span {
}
.span--big {
}
.btn {
}
.btn-primary {
}
