.main-platforma {
  padding-top: 122px;
  // .main-platforma__wrapper
  &__wrapper {
    margin-bottom: 115px;
  }

  // .main-platforma__title
  &__title {
    font-family: "TTNorms";
    font-size: 55px;
    line-height: 85.19%;
    margin-bottom: 56px;
    letter-spacing: -0.2px;
  }
  // .main-platforma__box
  &__box {
    margin-bottom: 74px;
  }
}
