.news-platforma {
  padding: 74px 0 25px;
  // .news-platforma_title
  &_title {
    margin-bottom: 32px;
  }
  // .news-platforma__wrapper
  &__wrapper {
    @include flex($flex-direction: column);
  }

  // .news-platforma__img
  &__img {
    margin-bottom: 20px;
  }
  // .news-platforma__text
  &__text {
    letter-spacing: 0.055em;
    margin-bottom: 42px;
  }
  .text {
    &--pseudo {
      &::before {
        max-width: 112px;
        left: 15%;
      }
    }
  }
  // .news-platforma__subtitle
  &__subtitle {
    max-width: unset;
    margin-bottom: 16px;
  }
}
