.partners {
  padding: 56px 0;
  // .partners__wrapper
  &__wrapper {
    @include flex($flex-direction: column);
  }
  // .partners__title
  &__title {
    margin-bottom: 45px;
  }
  // .partners__box
  &__box {
    @include flex(space-between, center);
  }
  // .partners__img
  &__img {
	&:nth-child(2){
		position: relative;
		left: -32px;
	}
  }
}
