.requirements {
  padding: 50px 0 100px;
  // .requirements__wrapper
  &__wrapper {
    @include flex($flex-direction: column);
  }
  // .requirements__title
  &__title {
    margin-bottom: 42px;
	
  }
  // .requirements__box
  &__box {
	@include flex (space-between, center, wrap);
	gap: 30px;
  }
  .box-content {
    width: 267px;
    height: 113px;
	.span{
		font-weight: 700;
		line-height: 24px;
	}
	.text {
		text-align: center;
	}
  }
}
