.request {
	padding: 140px 0;

	// .request__wrapper
	&__wrapper {
		@include flex (space-between, center);
		gap: 10px;
		@include media (max, lg) {
			flex-direction: column;
		}
	}

	// .request__box-img
	&__box-img {
		width: 100%;
		max-width: 428px;


	}

	// .request__img
	&__img {
		@include media (max, lg) {
			width: 100%;
		}
		
	}

	// .request__content
	&__content {
		@include flex ($flex-direction: column);
		width: 100%;
	}

	// .request__box-content
	&__box-content {
		@include flex ($flex-direction: column);
		margin-bottom: 40px;
	}

	// .request__title
	&__title {

		font-size: 50px;
		@include media (max, lg) {
			font-size: 30px;
		}

	}

	// .request__subtitle
	&__subtitle {
		font-size: 50px;
		max-width: 660px;
		@include media (max, lg) {
			font-size: 30px;
		}
	}

	// .request__form
	&__form {
		align-items: flex-start;
	}

	.form__group-box {
		@include flex ($align-items: center);
		width: 100%;
		@include media (max, xl) {
			flex-direction: column;
			gap: 20px;
			align-items: flex-start;
		}
	}

	.form__input {
		height: 70px;
		max-width: 325px;
		@include media (max, xl) {
			max-width: 100%;
		}
	}

	.form__label {
		font-size: 22px;
	}

	
	 .form__box {
		justify-content: flex-start;
		
	 }

	 .form__btn {
		margin-right: 32px;
	 }

}