.scheme-loan {
  // .scheme-loan__wrapper
  &__wrapper {
  }
  // .scheme-loan__title
  &__title {
    margin-bottom: 42px;
  }
  // .scheme-loan__box
  &__box {
    margin-bottom: 30px;
  }
  // .scheme-loan__content
  &__content {
    grid-template-columns: 11% 70%;
  }
  // .scheme-loan__number
  &__number {
  }
  // .scheme-loan__img
  &__img {
  }
  // .scheme-loan__subtitle
  &__subtitle {
  }
  // .scheme-loan__box-btns
  &__box-btns {
  }
  // .scheme-loan__btn
  &__btn {
    margin: 0;
  }
}
