.scheme-loan {
  // .scheme-loan__wrapper
  &__wrapper {
  }
  // .scheme-loan__title
  &__title {
    margin-bottom: 42px;
  }
  // .scheme-loan__box
  &__box {
	margin-bottom: 30px;
  }
  // .scheme-loan__content
  &__content {
    grid-template-columns: 11% 70%;
  }
  // .scheme-loan__number
  &__number {
  }
  // .scheme-loan__img
  &__img {
  }
  // .scheme-loan__subtitle
  &__subtitle {
  }
  // .scheme-loan__box-btns
  &__box-btns {
  }
  // .scheme-loan__btn
  &__btn {
    margin: 0;
  }
}
.scheme {
  // .scheme__wrapper
  &__wrapper {
  }
  // .scheme__title
  &__title {
  }
  // .scheme__box
  &__box {
  }
  // .scheme__content
  &__content {
  }
  // .scheme__number
  &__number {
  }
  // .scheme__box-content
  &__box-content {
  }
  // .scheme__img
  &__img {
  }
  // .scheme__subtitle
  &__subtitle {
  }
  // .scheme__box-btns
  &__box-btns {
  }
  // .scheme__btn
  &__btn {
  }
}
.scheme-loan {
  // .scheme-loan__wrapper
  &__wrapper {
  }
  // .scheme-loan__title
  &__title {
  }
  // .scheme-loan__box
  &__box {
  }
  // .scheme-loan__content
  &__content {
  }
  // .scheme-loan__number
  &__number {
  }
  // .scheme-loan__box-content
  &__box-content {
  }
  // .scheme-loan__img
  &__img {
  }
  // .scheme-loan__subtitle
  &__subtitle {
  }
  // .scheme-loan__box-btns
  &__box-btns {
  }
  // .scheme-loan__btn
  &__btn {
  }
}
