.scheme-finance {
	padding: 90px 0 50px;
  // .scheme-finance__wrapper
  &__wrapper {
  }
  // .scheme-finance__title
  &__title {
  }
  // .scheme-finance__box
  &__box {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
	margin-bottom: 66px;
  }
  // .scheme-finance__content
  &__content {
    grid-template-columns: 1fr;
	align-items:flex-start;
  }
  // .scheme-finance__number
  &__number {
  }
   // .scheme-finance__box-content
   &__box-content {
	margin-left: 0;
	justify-content: center;
}
  // .scheme-finance__subtitle
  &__subtitle {
	padding-right: 0;
  }
}
.scheme {
  // .scheme__wrapper
  &__wrapper {
  }
  // .scheme__title
  &__title {
  }
  // .scheme__box
  &__box {
  }
  // .scheme__content
  &__content {
  }
  // .scheme__number
  &__number {
  }
  // .scheme__box-content
  &__box-content {
  }
  // .scheme__subtitle
  &__subtitle {
  }
  // .scheme__btn
  &__btn {
  }
}
.scheme {
  // .scheme__wrapper
  &__wrapper {
  }
  // .scheme__title
  &__title {
  }
  // .scheme__box
  &__box {
  }
  // .scheme__content
  &__content {
  }
  // .scheme__number
  &__number {
  }
  // .scheme__box-content
  &__box-content {
  }
  // .scheme__subtitle
  &__subtitle {
  }
  // .scheme__btn
  &__btn {
  }
}
.scheme-finance {
  // .scheme-finance__wrapper
  &__wrapper {
  }
  // .scheme-finance__title
  &__title {
  }
  // .scheme-finance__box
  &__box {
  }
  // .scheme-finance__content
  &__content {
  }
  // .scheme-finance__number
  &__number {
  }
  // .scheme-finance__box-content
  &__box-content {
  }
  // .scheme-finance__subtitle
  &__subtitle {
  }
  // .scheme-finance__btn
  &__btn {
  }
}
.container {
}
.title {
}
.title--not-uppercase {
}
.title--section {
}
.subtitle {
}
.subtitle--left {
}
.btn {
}
.btn-primary {
}
