.security {
  padding: 72px 0;
  // .security__wrapper
  &__wrapper {
    @include flex($flex-direction: column);
  }
  // .security__title
  &__title {
    margin-bottom: 60px;
  }
  // .security__wrap
  &__wrap {
    @include flex(space-between, center, wrap);
    column-gap: 40px;
    row-gap: 65px;
  }
  // .security__box
  &__box {
    @include flex($flex-direction: column);
    padding-left: 25px;

    border: 1px solid #0d6e6a;
    box-shadow: 0px 0px 10px rgba(85, 214, 198, 0.49);
    border-radius: 10px;
    gap: 25px;
    width: 360px;
    height: 220px;
  }
  // .security__box-wrap
  &__box-wrap {
    @include flex(space-between, center);
  }
  // .security__subtitle
  &__subtitle {
    font-weight: 500;

    max-width: 320px;
    position: relative;

    &--small {
      font-size: 20px;
      line-height: 16px;
    }
    &::before {
      @include pseudo;
      @include wh(9px);
      @include pos(absolute, $bottom: -27px, $left: 3px);
border-radius: 50%;
      background-color: $mainColor;
    }
  }
  // .security__box-img
  &__box-img {
    background: $bgColor;
    @include wh(73px);
    @include flex(center, center);
    border-radius: 50%;
    position: relative;
    &::before {
      @include pseudo;
      @include wh(77px);
      border-radius: 50%;
      @include pos(absolute, $top: 50%, $left: 50%);
      transform: translate(-50%, -50%);

      background: linear-gradient(
        56.31deg,
        rgba(28, 227, 206, 0.482625) 8.85%,
        #002424 89.38%
      );
      z-index: -1;
    }
  }
  // .security__img
  &__img {
  }
  // .security__text
  &__text {
    text-shadow: none;

    font-size: 18px;
    line-height: 18px;

    color: #e3e3e3;
    max-width: 316px;
  }
}
