
.types-revenue {
	// .types-revenue__wrapper
	&__wrapper {}
	// .types-revenue__title
	&__title {}
	// .types-revenue__inner
	&__inner {
		gap: 70px;
		max-width: 990px;
	}
	// .types-revenue__box
	&__box {
		gap: 25px;
	}
	// .types-revenue__box-img
	&__box-img {}
	// .types-revenue__img
	&__img {}
	// .types-revenue__text
	&__text {
		max-width: 270px;
	}
}
