.types-develop {
	padding: 30px 0;
  // .types-develop__wrapper
  &__wrapper {
	
  }
  // .types-develop__wrapper-bottom
	&__wrapper-bottom {
		margin-top: 150px;
		.types__title{
			margin-bottom: 36px;
		}
		.types__inner{
			max-width: 980px;
		}
		.types__box{
			gap: 22px;
		}
	}
	
  // .types-develop__title
  &__title {
  }
  // .types-develop__inner
  &__inner {
  }
  &__inner-bottom{
	max-width: 870px;
  }
  // .types-develop__box
  &__box {
  }
  // .types-develop__box-img
  &__box-img {
  }
  // .types-develop__img
  &__img {
  }
  // .types-develop__text
  &__text {
	max-width: 260px;
	span{
		display: inline-block;
		color: #959595;
	}
  }
}
