.container {
	max-width: 1164px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0;
}

body {
	background-color: $bgColor;
	color: $textMainColor;
}


.scheme,
.scheme-tender,
.advantages-contract,
.scheme-loan {
	position: relative;

	&::after {
		@include pseudo;
		@include wh(1104px, 1701px);
		@include background (url("../img/section-bg.png"));
		@include pos (absolute, $top: 87px, $right: 0);
		z-index: -1;
	}
}
.scheme-tender{
	&::after{
		top: -320px;
	}
}
.scheme-loan{
	&::after{
		top: -344px;
	}
}

.scheme{
	&::after{
		top: -134px;
	}
}
.contract,
.tender,
.invest,
.loan{
	padding-top: 60px;
	position: relative;

	&::before {
		@include pseudo;
		@include background (url("../img/invest/invest-bg.png"));
		width: 623px;
		height: 663px;
		@include pos (absolute, $bottom:-140px, $right:0);
		

	}
	&::after{
		@include pseudo;
		@include wh(1062px, 632px);
		@include background (url("../img/main/main-bg.png"));
		@include pos (absolute, $top: 60px, $left: 318px);
		z-index: -1;
	}
}

.loan{
	&::before{
		height: 612px;
		bottom: -130px;
	}
}

.form--bg{
	.order,
	.decision{
		position: relative;
		&::after{
			@include pseudo;
			@include wh(1062px, 632px);
			@include background (url("../img/main/main-bg.png"));
			@include pos (absolute, $top: -100px, $left: -18px);
			z-index: -1;
		}
	}
}

.main,
.articles,
.info,
.news,
.expert,
.loan{
	position: relative;
	&::after{
		@include pseudo;
		@include wh(1062px, 632px);
		@include background (url("../img/main/main-bg.png"));
		@include pos (absolute, $top: 60px, $left: 318px);
		z-index: -1;
	}
}