.title {

	font-family: 'TT Norms';
	font-weight: 700;
	font-size: 55px;
	line-height: 85.19%;
	text-align: center;


}

.subtitle {
	font-family: 'TT Norms';
	font-size: 50px;
	font-weight: 400;
	line-height: 53px;
}

.text {

	font-family: 'TT Norms';
	font-weight: 400;
	font-size: 20px;
	line-height: 95.52%;

	color: $textPrimaryColor;
	text-shadow: 0px 0px 22px #010715;


}