.filter {

	// .filter__wrap
	&__wrap {
		@include flex (center, center);
	}

	// .filter__open
	&__open {
		@include flex (center, center);
		@include wh(400px, 78px);

		background: radial-gradient(184.97% 152.52% at 27.83% 24.1%, #7BECDD 0%, #098A7D 100%);
		border-radius: 10px;

		font-family: "TTNorms";
		font-weight: 500;
		font-size: 25px;
		line-height: 94.52%;

		color: #000;

		position: relative;

		&::before{
			@include pseudo;
			@include background (url("../img/projects/filter.svg"));
			@include pos (absolute, $bottom: 50%, $left: 80px);
			@include wh (30px);
			transform:translateY(50%)

		}

	}
}