.nav {

	// .nav__list
	&__list {
		@include flex (space-between, center);
		gap: 60px;
	}

	// .nav__item
	&__item {}

	// .nav__link
	&__link {
		font-family: 'Roboto';
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: $textLinkColor;
		letter-spacing: .9px;

	}
}