// textColors
$textMainColor: #FFF;
$textPrimaryColor: #CFCFCF;
$textLinkColor: #979797;
$textPlaceholderColor: #989898;
$textButtonColor: #1F1F1F;

//colors

//backgroundColors
$bgColor: #010715;


// buttonsColors



$grid_breakpoints: (
   xxl: 1591px,
   xl: 1279px,
   lg: 1023px,
   md: 767px,
   sm: 575px,
);








