// Заголовки, общие БЄМ блоки и проче...

.title {

    font-weight: 700;
    font-size: 45px;
    line-height: 104.19%;
    text-align: center;
}

.subtitle {

    font-size: 30px;
    line-height: 106.19%;
    text-align: center;

}

.text {}

.link {}